import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

body
  font 10px "PT Sans"

.wrapper
  margin auto
  background url('../images/bg.jpg')
  width 1000px
  padding 7rem 11.5rem 7.4rem 11.2rem

import('../blocks/**/*')
