mixin javascript-skill()
	+b.javascript-skill&attributes(attributes)
		h4.section__header Уровень владения JavaScript
		.javascript-skill__progressbar
			.javascript-skill__progressbar-mark
			.javascript-skill__progressbar-wrap
				p.javascript-skill__skill-lvl Не владею
				p.javascript-skill__skill-lvl Использую готовые решения
				p.javascript-skill__skill-lvl Использую готовые решения и умею их переделывать
				p.javascript-skill__skill-lvl Пишу сложный JS с нуля

