.about-yourself
	display block
	margin-top 2rem
	&__bio
		border none
		width 100%
		font-size 1.8rem
		font-family 'Courier New PSMT'
		padding-top 10px
		line-height 71px
		background url('../images/border.png')
		background-position left 105px
		background-size 100% 72px
		overflow-y hidden
		padding-right 10px
		padding-left 10px
