include ./candidate-info-mixin
mixin candidate-info()
	+b.candidate-info&attributes(attributes)
		+label-info('Полное ФИО', 'Иванов Иван Иванович', 'username')
		+label-info('Год рождения', '1990', 'year')
		+label-info('Место жительства', 'г. Иваново, Россия', 'city')
		+label-info('Скайп', 'ivanov', 'skype')
		+label-info('Почта', 'ivanov@gmail.com', 'email')
