include ./candidate-info-mixin
mixin candidate-info()
	+b.candidate-info&attributes(attributes)
		+label-info('Полное ФИО', 'Юшманов Сергей Александрович', 'username')
		+label-info('Год рождения', '1997', 'year')
		+label-info('Место жительства', 'г. Железногорск, Красноярский край', 'city')
		+label-info('Скайп', 'sergeyyushmanov1', 'skype')
		+label-info('Почта', 's.yushmanov777@gmail.com', 'email')
