.candidate-info
	display block
	margin-top 4rem
	&__label-wrap
		margin-bottom 1.7rem
	&__label
		display flex
	&__span
		margin-right 1rem
		color label_calor
		font-size 1.4rem
		font-weight 700
		max-width 17.6rem
		white-space: nowrap
	&__input
		border none
		border-bottom 2px solid #000
		padding 0 0 .9rem 1rem
		background-color transparent
		color text_color
		font-family "Courier New PSMT"
		font-size 1.8rem
		width 100%
		margin-top -1rem
		position relative
