.header
	text-align center
.header__wrap
	display flex
	justify-content space-between
	align-items center
	position relative

.header__wrap__stamp
	position absolute
	top -1rem
	right -8.1rem

.header__heading
	margin-left 2rem
	margin-top 2.5rem
