.header
	text-align center
	&__heading
		margin-left -2rem
		margin-top 2.5rem

.header-wrap
	display flex
	justify-content space-between
	align-items center
	position relative
	&__stamp
		position absolute
		top -1rem
		right -4.1rem

