mixin header()
	+b.header&attributes(attributes)
		.header__wrap
			img(src="/assets/images/logo.png").header__wrap__logo
			img(src="/assets/images/stamp.png").header__wrap__stamp
		img(src="/assets/images/heading.png").header__heading

