mixin header()
	+b.header&attributes(attributes)
		.header-wrap
			img.header-wrap__logo(src="/assets/images/logo.png")
			img.header-wrap__stamp(src="/assets/images/stamp.png")
		img.header__heading(src="/assets/images/heading.png")
